<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear/>
        <add key="nuget" value="https://api.nuget.org/v3/index.json"/>
        <add key="eways_cloud_platform_feed"
             value="https://pkgs.dev.azure.com/ChargeHubMaster/_packaging/eways_cloud_platform_feed/nuget/v3/index.json"/>
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget">
            <package pattern="*"/>
        </packageSource>
        <packageSource key="eways_cloud_platform_feed">
            <package pattern="Eways.*"/>
        </packageSource>
    </packageSourceMapping>
</configuration>
